body{ 
    width: 100%; 
    overflow-x: hidden;
    /*height: 100%; */
    /* overflow: hidden; */
    background-color: black;
    /* position: relative; */
 }

section{
    height: 100vh;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    height: 100vh;
    width: 100vw;
   
    
}

ul{
    list-style: none;}

.box{
    height: 90vh;
    background-color: aqua;
    margin: 5px;
    
    border-radius: 10px;
    position: relative;
}

#one{
width: 25vw;
margin-left: 2vw;
padding-top: 5px;
background: url(pattern.svg);
background-size: cover;
opacity: 1;

}
.brand{
    padding-top: 20px;
}

#two{
    width: 85vw;
    margin-right:2vw;
    position: relative;
    background: url(pattern.svg);
    background-size: contain;
    opacity: 1;
}
.home{
    border-radius: 13px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
}

.dropbtn {
    background-color: white;
    color:black;
    padding: 8px;
    font-size: 15px;
    border-radius: 15px;
    
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
   margin: 0px 0px 50px 39px;
   
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    color:black;
  }
  
  
 
  .dropdown-content p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 15vw;
    height: 45vh;
    border-radius: 15px;
  }
  
  
  .dropdown-content p:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color:black; color: white; }

  .navigationbar{
    display: flex;
    margin: 10px 0px 0px 2vw;
    justify-content: space-between;
  }

  .images{
    display: flex;
  }
 
  .footer {
    display: flex;
    font-size: 15px;
    color: black;
    gap: 12px;
    position:absolute;
    bottom: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    width: 20vw;
    font-weight: bold;
    font-style: oblique;
    
}
.memoryPlaylists{
    margin: 0 0 0 3vw;
   
}
*{
    margin: 0px;
}
.card {
    /* background-color: black; */
    /* width: 13vw; */
    border-radius: 8px;
    position: relative;
}
.card >img{
    border-radius: 8px;
    border: 5px solid black;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    flex-wrap: wrap;
    padding-top: 17px;
    width: 100%;
}
.card:hover >img{ cursor: pointer;}
.card:hover .play>img{ height: 47px; width: 47px;cursor: pointer;   }

 
.btn{
    display: flex;
    gap: 15px;
    margin-right: 50px;
    margin-top: 10px;
}
.signup{
    width: 65px;
height: 35px;
border-radius: 18px;
font-weight: bold;

}



.signup:hover { background-color: black; color: white;border-radius: 20px; font-weight: 300; font-size: 14px; cursor: pointer; font-weight: bold; }

.signup:hover .navigationbar{ position: fixed;margin: 10px 0px 0px 4vw;}

.playbar{
    position: absolute;
    bottom: 0;
    background-color:black ;
    /* color: white; */
    width: 95%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 26px;
    border: 1px solid aqua;
    
}
.text{
width:145px ;
font-family: cursive;
}

h3{
    width: 145px;
    font-family: cursive;
}

    .play {
        position: absolute;
        bottom: 7vh;
        margin-left: 100px;
    }
    .songbuttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;  
     
    }
    .songbuttons img{
        cursor: pointer;
    }
 .one{
    height: 90vh;
    width: 90vw;
   
    margin-left: 5.7vw;
    margin-top: 15vh;
   padding-bottom: 5vh;
   border-radius: 10px;
 }
 .containerTwo{
    background: url(pattern.svg);
    background-size: contain;
 }


#myVideo {
    position: fixed;
    right: 0;
  
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .content {
    position:absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
    
  }
  
 

 
  .flip-card {
    background-color: transparent;
    width: 350px;
    height: 300px;
  
    margin-left: 40px;
    perspective: 1000px;
    margin-top: 200px; 
    display: flex;
    border-radius: 20px;
    position: relative;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
   
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
   
    backface-visibility: hidden;
    border-radius: 20px;
}
  
  
  .flip-card-front {
  
    color: black;
  }
  

  .flip-card-back {
  
    color: white;
    transform: rotateY(180deg);
  }
  .flipcardContainer{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
padding-right: 40px;
  }

  
  .custom:hover {text-decoration: underline;cursor: pointer;}
  .spotify-embed {
    
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 300px;}  
  
.write{
  height: 80px;
  width: 100%;
  color: white;
  background: transparent;
  position: absolute;
  /* position: fixed; */
  margin-left: 20px;
  margin-top: 79px;
  margin-bottom: 80px;
}
.ul{
  /* list-style-type: disc; */
  font-weight: 10;
  font-size: 50px;
  font-family: cursive;
  /* text-decoration: underline; */
}
.para{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px ;
  font-weight: 40px ;
}
.pa{font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 23px;
}
.pura{
 position: relative;
}
.last {
  position:absolute;
  bottom: -200px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 40px; 
}
.last1{
  font-size: 25px;
  margin-right: 120px;
  font-family: cursive;
}